<div (click)="closeMenu()" class="overlay"></div>
<nav class="sidebar">
  <ul style="padding: 0">
    <li>
      <div class="sidebar__search__container">
        <input
          #searchInput
          class="sidebar__search"
          placeholder="FS Online durchsuchen ..."
        >
        <span class="search-icon icon--medium sidebar__search__button" (click)="search()"></span>
      </div>

    </li>
    <li class="sidebar__item main-color" (click)="redirect('/home')"><h3>Startseite</h3></li>
    <li class="sidebar__item">
      Artikel
      <input id="collapsible" class="toggle collapse-checkbox" type="checkbox">
      <label for="collapsible" class="icon--medium expand-icon sidebar__item__button color-contrast-dark"></label>
      <ul class="sidebar__sublist">
        <li *ngFor="let articleByDate of (articleByDate$ | async)" class="sidebar__sublist__item"
            (click)="redirectDate(articleByDate.date)">
          {{ articleByDate.date | momentFormatter: 'dddd DD.MM.yyyy' }}
        </li>
        <li class="sidebar__sublist__item separator">
          <div class="separator__border"></div>
        </li>
      </ul>
    </li>
    <li class="sidebar__item" (click)="redirect('/topics/Meinung')">
      Meinung
    </li>
    <li class="sidebar__item" (click)="redirect('/topics/Interview')">
      Interviews
    </li>

  </ul>



</nav>
