<section class="section" style="padding-top: 2rem">
  <div style="margin: 0 1rem">
    <div class="article_header">
      <span class="article__short-header color-main"> {{ (article$ |async).shortTitle }}</span>
      <span class="article__headline">{{ (article$ |async).headline }}</span>
      <div class="article__summary ">
        {{ (article$ |async).metadata.summary }}
      </div>
      <div class="article__metadata">
        <span>{{ (article$ |async).metadata.date | momentFormatter: 'dd. DD.MM.yyyy'}}</span>
        <span *ngIf="!!(article$ |async).metadata.author" class="article__metadata__author">von {{ (article$ |async).metadata.author }}</span>
      </div>
    </div>
    <div class="separator" style="margin-top: 1rem; padding: 0">
      <div class="separator__border"></div>
    </div>

    <div *ngFor="let block of (article$ |async).text let i = index" class="article__block">
      <img *ngIf="!!block.picture" src="{{ block.picture }}" class="article__block__picture">
      <h3 *ngIf="!!block.title" class="article__block__headline">
        {{ block.title }}
      </h3>
      <p class="article__block__text">
        {{ block.text }}
      </p>
    </div>
  </div>
</section>

<section class="section" style="margin-top: 1rem">
  <div class="article__footer__header">
    Mehr lesen über
  </div>
  <div>
    <div class="article__footer__keyword-list">
      <div class="article__footer__keyword-list__item"
          *ngFor="let keyword of (article$ |async).metadata.keywords"
          (click)="navigateToKeyword(keyword)">
        {{ keyword }}
      </div>
    </div>
  </div>
</section>






