.category-list {
  list-style: none;
  padding-left: 1rem;
}

.category-list__item {
  color: white;
  padding: 0.5rem 0;
}

.letter-list {
  margin: 1rem;
  display: inline-block;
}

.sort-letter {
  font-size: 14px;
  color: white;
  margin-right: 1rem;
}

.sort-letter--inactive {
  pointer-events: none;
  color: var(--font-color-contrast-dark);
}
