<div class="header--sticky">
  <div class="header-row">
    <div>
      <img style="margin: 0.5rem 1rem 0.5rem 1rem; vertical-align: middle;" src="assets/logo-colorised-optimised.svg">
      <span class="header-row__logo-name">FS Online</span>

      <div class="header-row--icon-group">
        <input id="menuButton" class="toggle collapse-checkbox" type="checkbox">
        <label for="menuButton" class="header-row__menu-icon menu-icon icon--big"></label>
        <app-side-bar class="menu"></app-side-bar>
      </div>


    </div>
  </div>

  <div class="header__article-menu">
    <div class="header__article-menu__element" [routerLink]="['/home']">Schlagzeilen</div>
    <div class="header__article-menu__element">Anzeigen</div>
    <div class="header__article-menu__element" [routerLink]="['/topics']">Themen</div>
  </div>

</div>



<div class="content">
  <router-outlet></router-outlet>
</div>

<footer style="padding: 1rem; background-color: var(--background-color); margin-top: 1rem">

</footer>



