/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: FSSans;
  src: url('assets/OpenSans-Light.ttf');
}


body {
  font-family: "FSSans";
  background-color: black;
  margin: 0;
  padding: 0;
}

.section {
  background-color: var(--background-color);
}

.separator {
  padding: 0 1rem;
  background-color: var(--background-color);
}

.separator__border {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg,#807e7c 25%,#807e7c00 0) 0 100% /4px 1px repeat-x;
  image-rendering: pixelated;
  width: 100%;
}

.collapse-checkbox {
  display: none;
}
