<section>
  <header class="page_header">
    <span class="section__header">Suche</span>
    <div>
      <form style="padding-bottom: 1rem;">
        <div class="search-group">
          <input [ngModelOptions]="{standalone: true}" [(ngModel)]="searchPhrase" class="search__input" #searchField placeholder="Suchbegriff eingeben..." >
          <div *ngIf="!!searchPhrase.length">
            <span class="clear-icon icon--medium clear-button" (click)="clearInput()"></span>
          </div>
          <div class="search-button" (click)="search()">
            <span class="search-icon icon--medium search-button__icon"></span>
          </div>
        </div>
      </form>
      <div class="filter-group">
        <button class="filter-icon icon--small filter-button" (click)="toggleFilter = !toggleFilter" >
          <span style="margin-left: 1rem" *ngIf="!toggleFilter">Suchergebnisse filtern</span>
          <span style="margin-left: 1rem" *ngIf="toggleFilter">Filter ausblenden</span>
        </button>
      </div>
    </div>
  </header>

  <div *ngIf="toggleFilter" class="section" style="margin-bottom: .5rem;">

    <form #filters class="filter__form" (change)="updateSearchFilter()" [formGroup]="filtersForm">
      <div class="filter__form__header">
        <span class="filter__form__header__title">Filter</span>
        <input class="filter__form__header__reset" type="reset" value="alle zurücksetzen" (click)="resetFilters()">
      </div>
      <div class="separator" style="padding: 0; margin-bottom: 1rem;">
        <div class="separator__border"></div>
      </div>
      <div class="filter__form__item__headline filter__form__item">
        Zeitraum
      </div>
      <div class="filter__form__item ">
        <select class="filter__form__select" formControlName="searchTimeframe">
          <option value="all">Alles</option>
          <option value="today">Heute</option>
          <option value="older">Älter</option>
        </select>
        <span class="expand-icon icon--small filter__form__select__arrow"></span>
      </div>
      <div class="filter__form__item__headline filter__form__item ">
        Inhalte
      </div>
      <div class="filter__form__item ">
        <input id="filter-all" checked name="searchContents" type="radio" value="all" formControlName="searchContents">
        <label class="radio__label" for="filter-all">Alle</label>
      </div>
      <div class="filter__form__item ">
        <input id="filter-headlines" name="searchContents" type="radio" value="headlines" formControlName="searchContents">
        <label class="radio__label" for="filter-headlines">Überschriften und Vorspann</label>
      </div>
      <div class="filter__form__item">
        <input id="filter-author" name="searchContents" type="radio" value="author" formControlName="searchContents">
        <label class="radio__label" for="filter-author">Autor</label>
      </div>
    </form>
  </div>

  <div class="article-list" *ngIf="(articles$ | async)">
    <div class="main-color headlines__subheadline">
      {{ (articles$ | async).length }} Ergebnisse für "{{ searchPhrase$ | async }}"
    </div>

    <div class="separator">
      <div class="separator__border"></div>
    </div>

    <div class="no-data" *ngIf="(articles$ | async).length === 0">
      <span>
        Keine Ergebnisse gefunden. Versuchen Sie folgendes:
      </span>
      <ul class="no-data__list">
        <li class="no-data__list__item">Prüfen Sie, ob alle Suchbegriffe korrekt geschrieben wurden.</li>
        <li class="no-data__list__item">Versuchen Sie einen anderen Suchbegriff.</li>
        <li class="no-data__list__item">Versuchen Sie allgemeinere Begriffe zu suchen.</li>
      </ul>
    </div>

    <article-tile *ngFor="let article of (articles$ | async)" [article]="article"></article-tile>
  </div>
</section>
